<div class="container" style="margin: 20px;">
    <h2>Listado de Usuarios</h2>
    <form [formGroup]="searchForm" (submit)="searchFromSubmit()">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar por usuario" formControlName="usuario">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="card-container mt-4">
        <div class="card" *ngFor="let user of filteredUsers">
            <div class="card-header">
                <div class="profile-image">
                    <img src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Smilies/Robot.png"
                        alt="Robot" width="50" height="50" />
                </div>
                <h4 class="card-title">{{ user.username }}</h4>
            </div>
            <div class="card-body">
                <p><strong>Nombres:</strong> {{ user.nombres }}</p>
                <p><strong>Apellidos:</strong> {{ user.apellidos }}</p>
                <p><strong>Correo:</strong> {{ user.correo }}</p>
            </div>

            <div class="col" style="display: flex; justify-content: flex-end;">
                <button class="chat-button" (click)="chatUsuario(user.username)"
                    style="background: transparent; border: none; margin-bottom: 5px;">
                    <img src="https://img.icons8.com/?size=512&id=eAI6V8tuK5nR&format=png" alt="Robot" width="35"
                        height="35">
                </button>
            </div>
        </div>
    </div>

    <ul class="pagination mt-4">
        <li class="page-item">
            <a class="page-link" (click)="prevPage()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" *ngFor="let page of mostrarTotalPaginas"
            [ngClass]="{ 'active': currentPage + 1 === page }">
            <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages - 1 }">
            <a class="page-link" (click)="nextPage()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>