.cascading-right {
    margin-right: -50px;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}

.input-container {
    position: relative;
}

.input-container input.error {
    border: 2px solid green;
}

.input-container .input-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.input-icon {
    margin-top: 2px;
    display: inline-block;
    width: 25px !important;
    height: 25px !important;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.reveal-button {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.reveal-button i {
    color: #888;
}

.reveal-button:focus {
    outline: none;
}

.reveal-button:focus i {
    color: #333;
}