<section class="vh-100" style="background-color: #e4e6e9;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://images.pexels.com/photos/3861964/pexels-photo-3861964.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                alt="login form" class="img-fluid"
                                style="border-radius: 1rem 0 0 1rem; max-width: 100%; height: auto;" />
                        </div>

                        <div class="col-md-5 col-lg-6 d-flex align-items-center">

                            <div class="card-body p-4 p-lg-5 text-black" *ngIf="!cambiarPassword">

                                <form [formGroup]="formCorreo" autocomplete="off">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="correo">Correo</label>
                                        <input type="text" autocomplete="new-correo" id="correo"
                                            class="form-control form-control-lg" formControlName="correo" />
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block"
                                            (click)="codigoverificacion(); codigoVerificado.reset();resetTimer(); startTimer()"
                                            [disabled]="!formCorreo.valid" type="submit" data-bs-toggle="modal"
                                            data-bs-target="#validacorreo">Validar
                                            correo</button>

                                    </div>
                                    <a routerLink="/login" style="color: #393f81;">Iniciar sesión</a>

                                </form>

                            </div>

                            <div class="card-body p-4 p-lg-5 text-black" *ngIf="cambiarPassword">

                                <form [formGroup]="formPassword" autocomplete="off">

                                    <div class="form-outline mb-4">
                                        <label for="pwdNueva">Ingrese contraseña nueva</label>
                                        <div class="input-container">
                                            <input type="{{ passwordVisibleNew ? 'text' : 'password' }}"
                                                class="form-control" id="pwdNueva" name="pwdNueva"
                                                formControlName="pwdNueva"
                                                [ngClass]="{ 'error': !controls.pwdNueva.errors }">
                                            <span class="input-icon" [ngClass]="{ 'd-none': controls.pwdNueva.errors }">
                                                <i style="left: 20px;" class="fas fa-check-circle text-success"></i>
                                            </span>
                                            <button class="reveal-button" (click)="togglePasswordVisibilityNew()">
                                                <i class="fas fa-eye"></i>
                                            </button>

                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <div *ngIf="controls.pwdNueva.errors?.['minlength']"
                                            class="valid-indicator text-danger">
                                            Coloca almenos 8 caracteres
                                        </div>

                                        <div *ngIf="controls.pwdNueva.errors?.['maxlength']"
                                            class="valid-indicator text-danger">
                                            El maximo de caracteres es 16
                                        </div>
                                        <div *ngIf="controls.pwdNueva.hasError('letraMayuscula')"
                                            class="valid-indicator text-danger">
                                            Coloca almenos una mayuscula
                                        </div>
                                        <div *ngIf="controls.pwdNueva.hasError('letraMinuscula')"
                                            class="valid-indicator text-danger">
                                            Coloca almenos una minuscula
                                        </div>
                                        <div *ngIf="controls.pwdNueva.hasError('caracterEspecial')"
                                            class="valid-indicator text-danger">
                                            Coloca almenos una caracter especial( ! @ # $ % ^ & * ( ) , . ? )
                                        </div>
                                        <div *ngIf="controls.pwdNueva.hasError('numero')"
                                            class="valid-indicator text-danger">
                                            Coloca almenos un numero
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label for="nuevaPassword">Confirmar contraseña</label>
                                        <div class="input-container">
                                            <input type="{{ passwordVisibleConfirm ? 'text' : 'password' }}"
                                                class="form-control" id="pwdConfirmar" name="pwdConfirmar"
                                                formControlName="pwdConfirmar">
                                            <span class="input-icon" [ngClass]="{ 'd-none': (!validarPassword())}">
                                                <i style="left: 20px;" class="fas fa-check-circle text-success"></i>
                                            </span>
                                            <button class="reveal-button" (click)="togglePasswordVisibilityConfirm()">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" [disabled]="!validarPassword()"
                                            type="button" (click)="cambiarPasswordVerificado()">Cambiar
                                            contraseña</button>
                                    </div>
                                    <a routerLink="/login" style="color: #393f81;">Iniciar sesión</a>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="validacorreo" #validacorreo data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="modalcorreo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalcorreo">Verificación de Correo</h5>
                <button type="button" (click)="resetTimer()" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p *ngIf="correoEnviado">Ingrese el código de verificación:</p>
                <div class="input-group mb-3">
                    <form [formGroup]="codigoVerificado" *ngIf="correoEnviado">
                        <input type="text" class="form-control" placeholder="Código de verificación" id="codigo"
                            name="codigo" formControlName="codigo">
                    </form>
                    <button class="btn btn-primary" [disabled]=""
                        (click)="codigoverificacion(); resetTimer(); startTimer()" type="button"
                        id="resendCode">Reenviar
                        código</button>
                </div>
                <div class="countdown-container" *ngIf="correoEnviado">
                    <span id="countdown" class="countdown">Tiempo restante:<app-timer></app-timer></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="resetTimer()" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cerrar</button>
                <button type="button" (click)="confirmarCorreo()" [disabled]="!codigoVerificado.valid"
                    class="btn btn-primary">Verificar</button>
            </div>
        </div>
    </div>
</div>